<div class="grid grid-cols-2 gap-x-8 items-start">
		<dl class="flex flex-col gap-y-1">
		<div class="flex flex-col">
			<dt>{{ _("Invoice No.", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Invoice No.", secondaryLanguage) }}{% endif %}:</dt>
      {% if vat_amount == 0 %}
      <span class="italic text-lg">
        {{ _("Reverse Charge", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Reverse Charge", secondaryLanguage) }}{% endif %}
      </span>
      {% endif %}
			<dd class="text-6xl font-bold">{{invoice_number}}</dd>
		</div>
    <div class="flex gap-x-2">
			<dt>{{ _("Place of issue", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Place of issue", secondaryLanguage) }}{% endif %}:</dt>
			<dd>{{seller[0].adress[0].city}}</dd>
		</div>

		<div class="flex gap-x-2">
			<dt>{{ _("Issue date", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Issue date", secondaryLanguage) }}{% endif %}:</dt>
			<dd>{{issue_date}}</dd>
		</div>
	</dl>
	<div class="p-6">
		<img src="{{seller[0].information[0].logo[0]|to_base64}}" />
	</div>
</div>

<hr class="my-8" />

<div class="grid grid-cols-3 items-start">
	<div class="flex flex-col gap-y-4">
		<h6 class="text-lg font-medium">{{ _("Seller", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Seller", secondaryLanguage) }}{% endif %}:</h6>
		<dl class="flex flex-col gap-y-1">
			<div class="flex gap-x-2">
				<dd>{{seller[0].information[0].name}}</dd>
			</div>

			<div class="flex flex-col">
				<dt>{{seller[0].adress[0].street}}</dt>
				<dd>{{seller[0].adress[0].postcode}} {{seller[0].adress[0].city}}</dd>
			</div>

			<div class="flex gap-x-2">
				<dt class="whitespace-nowrap">{{ _("VAT ID", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("VAT ID", secondaryLanguage) }}{% endif %}</dt>
				<dd>{{seller[0].information[0].vat_id}}</dd>
			</div>

			<div class="flex flex-col">
				<dt>{{seller[0].bank[0].name}}</dt>
				<dd class="flex flex-col">
					<span>
						{{seller[0].bank[0].account}}
					</span>
					{% if seller[0].bank[0].swift != "" %}
					<span class="seller-bank-swift">
						{{ _("SWIFT", primaryLanguage) }}: <span>{{seller[0].bank[0].swift}}</span>
					</span>
					{% endif %}
				</dd>
			</div>
		</dl>
	</div>
	<div>&nbsp;</div>
	<div class="flex flex-col gap-y-4">
		<h6 class="text-lg font-medium">{{ _("Buyer", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Buyer", secondaryLanguage) }}{% endif %}:</h6>
		<dl class="flex flex-col gap-y-1">
			<div class="flex gap-x-2">
				<dd>{{client[0].name}}</dd>
			</div>

			<div class="flex flex-col">
				<dt>{{client[0].street}}</dt>
				<dd>{{client[0].postcode}} {{client[0].city}}, {{client[0].country}}</dd>
			</div>

			<div class="flex gap-x-2">
				<dt>{{ _("VAT ID", primaryLanguage) }}</dt>
				<dd>{{client[0].tax_identification_number}}</dd>
			</div>
		</dl>
	</div>
</div>

{% set separator = secondaryLanguage and '&nbsp;/' or '' %}
<table class="border-collapse mb-8 tabular-nums table table-auto w-full my-8">
	<thead class="text-xs uppercase whitespace-nowrap">
		<tr class="bg-gray-100 align-bottom">
			<th class="text-center px-4 pt-2">{{ _("No.", primaryLanguage) }}{{ separator | safe }}</th>
			<th class="text-left px-4 pt-2">{{ _("Item", primaryLanguage) }}{{ separator | safe }}</th>
			<th class="text-right px-4 pt-2">{{ _("Qty", primaryLanguage) }}{{ separator | safe }}</th>
			<th class="text-right px-4 pt-2">{{ _("Unit net price", primaryLanguage) }}{{ separator | safe }}</th>
			<th class="text-right px-4 pt-2">{{ _("Total net", primaryLanguage) }}{{ separator | safe }}</th>
			<th class="text-right px-4 pt-2">{{ _("VAT", primaryLanguage) }}{{ separator | safe }}</th>
			<th class="text-right px-4 pt-2">{{ _("VAT amount", primaryLanguage) }}{{ separator | safe }}</th>
			<th class="text-right px-4 pt-2">{{ _("Total gross", primaryLanguage) }}{{ separator | safe }}</th>
		</tr>
		{% if secondaryLanguage %}
		<tr class="bg-gray-100 align-top">
			<th class="text-center border-b border-gray-300 px-4 pb-2">{{ _("No.", secondaryLanguage) }}</th>
			<th class="text-left border-b border-gray-300 px-4 pb-2">{{ _("Item", secondaryLanguage) }}</th>
			<th class="text-right border-b border-gray-300 px-4 pb-2">{{ _("Qty", secondaryLanguage) }}</th>
			<th class="text-right border-b border-gray-300 px-4 pb-2">{{ _("Unit net price", secondaryLanguage) }}</th>
			<th class="text-right border-b border-gray-300 px-4 pb-2">{{ _("Total net", secondaryLanguage) }}</th>
			<th class="text-right border-b border-gray-300 px-4 pb-2">{{ _("VAT", secondaryLanguage) }}</th>
			<th class="text-right border-b border-gray-300 px-4 pb-2">{{ _("VAT amount", secondaryLanguage) }}</th>
			<th class="text-right border-b border-gray-300 px-4 pb-2">{{ _("Total gross", secondaryLanguage) }}</th>
		</tr>
		{% endif %}
	</thead>
	<tbody>
		{% for entry in entries %}
		<tr>
			<td class="text-center border-b border-gray-300 px-4 py-2">{{loop.index}}</td>
			<td class="text-left border-b border-gray-300 px-4 py-2">{{entry.name}}</td>
			<td class="text-right border-b border-gray-300 px-4 py-2">
				{{entry.quantity}}{% if entry.unit == "hours"%}&nbsp;{{ _("hours", primaryLanguage) }}{% endif %}
			</td>
			<td class="text-right border-b border-gray-300 px-4 py-2">{{entry.net_price | format_number}}</td>
			<td class="text-right border-b border-gray-300 px-4 py-2">{{entry.total_net | format_number}}</td>
			<td class="text-right border-b border-gray-300 px-4 py-2">{{entry.vat}}</td>
			<td class="text-right border-b border-gray-300 px-4 py-2">{{entry.vat_amount | format_number}}</td>
			<td class="text-right border-b border-gray-300 px-4 py-2">{{entry.total_gross | format_number}}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr class="align-bottom">
			<td colSpan="2" class="px-4 pt-2">&nbsp;</td>
			<td colSpan="2" class="text-right px-4 pt-2">
				{{ _("Tax rate", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Tax rate", secondaryLanguage) }}{% endif %}
			</td>
			<td class="text-right px-4 pt-2">
				{{total_net | format_number}}
			</td>
			<td class="text-right px-4 pt-2 align-top">
				{{entries[0].vat}}
			</td>
			<td class="text-right px-4 pt-2">
				{{vat_amount | format_number}}
			</td>
			<td class="text-right px-4 pt-2">
				{{total_gross | format_number}}
			</td>
		</tr>
		<tr class="align-top">
			<td colSpan="2" class="px-4 pb-2">&nbsp;</td>
			<td colSpan="2" class="text-right bg-gray-100 px-4 py-2 font-semibold">
				{{ _("Total", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Total", secondaryLanguage) }}{% endif %}
			</td>
			<td class="text-right px-4 pb-2">
				<span>{{total_net | format_number}}</span>
			</td>
			<td class="text-right px-4 pb-2">
				&nbsp;
			</td>
			<td class="text-right px-4 pb-2">
				{{vat_amount | format_number}}
			</td>
			<td class="text-right px-4 pb-2">
				{{total_gross | format_number}}
			</td>
		</tr>
	</tfoot>
</table>

<div class="flex justify-end gap-x-8 text-xl leading-relaxed pr-4">
	<div class="flex flex-col">
		<span>{{ _("Total net price", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Total net price", secondaryLanguage) }}{% endif %}</span>
		<span>{{ _("VAT amount", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("VAT amount", secondaryLanguage) }}{% endif %}</span>
		<span>{{ _("Total gross price", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Total gross price", secondaryLanguage) }}{% endif %}</span>
	</div>

	<div class="flex flex-col text-right font-semibold">
		<span>{{total_net | format_price(currency)}}</span>
		<span>{{vat_amount | format_price(currency)}}</span>
		<span>{{total_gross | format_price(currency)}}</span>
	</div>


	{% if invoice_in_foreign_currency %}
	<div class="flex flex-col text-right font-semibold">
		<span>{{ (total_net * exchange.rate) | format_price(defaultCurrency)}}</span>
		<span>{{ (vat_amount * exchange.rate) | format_price(defaultCurrency)}}</span>
		<span>{{ (total_gross * exchange.rate) | format_price(defaultCurrency)}}</span>
	</div>
	{% endif %}
</div>
{% if invoice_in_foreign_currency %}
<hr class="my-8" />
<div>
	{{ _("Rate of exchange PLN/{currency} {rate}, NBP foreign exchange reference rates no {no} at {date}", primaryLanguage, exchange) }}{% if secondaryLanguage %}&nbsp;/
	{{ _("Rate of exchange PLN/{currency} {rate}, NBP foreign exchange reference rates no {no} at {date}", secondaryLanguage, exchange) }}{% endif %}

	<div class="text-xl leading-relaxed">
		{{ _("Exchanged tax amount", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Exchanged tax amount", secondaryLanguage) }}{% endif %}: <span class="font-semibold">{{ (vat_amount * exchange.rate) | format_price(defaultCurrency)}}</span>
	</div>
</div>
{% endif %}

<hr class="my-8" />

<div>
	<span>{{ _("Total due", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Total due", secondaryLanguage) }}{% endif %}:</span>
	<span class="text-2xl font-semibold whitespace-nowrap">{{total_gross | format_price(currency)}}</span>
	({{ _("In words", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("In words", secondaryLanguage) }}{% endif %}: <span class="italic">{{ total_gross | to_words(currency) }}</span>)
</div>

<hr class="my-8" />

<div class="grid grid-cols-2 gap-x-8 items-center">

	<img class="h-[128px]" src="{{seller[0].information[0].signature[0]|to_base64}}" />

	<div class="text-center">{{ _("Seller's signature", primaryLanguage) }}{% if secondaryLanguage %} / {{ _("Seller's signature", secondaryLanguage) }}{% endif %}
		<div class="font-semibold text-xl leading-relaxed">{{seller[0].information[0].name}}</div>
	</div>
</div>